body {
  background-color: currentcolor;
  transition: all .15s ease;

}
h4 {
  color: grey;
}
h3 {
  color: grey;
}
p {
  color: whitesmoke;
}
.jumbotron p {
  color: grey;
}
.jumbotron{
  background: src=();
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.col-lg-7 {
  width: 100%;
}
.bigbutton {
  transition: all .15s ease;
  cursor: pointer;
  width: 98%;
  display: inline-block;
  overflow: hidden;
  padding: 18px 0 15px 0;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 6px;
  font-size: 28px;
  color: #FAFAFA;
  font-weight: 700;
  text-decoration: none;
  background: rgb(255, 198, 0);
}

.bigbutton:hover {
  transition: all .15s ease;
  background-color: #428bca;
}

@media screen and (min-width: 768px){
  .container {
    max-width: 1230px; 
  }
}