body {
  background-color: currentcolor;
  transition: all .15s ease;
}
.accordion {
  margin: 50px;
}   
dt, dd {
  padding: 10px;
  border-bottom: 0;  
}
a {
  font-weight: bold;
}  
dd {
  border-top: 0; 
  color: whitesmoke;
  font-size: 15px;
  padding: 12px;
  letter-spacing: 1px;
  border-top: 1px solid white;
  position: relative;
  top: -1px;
  display: none;
}
h4 {
  color: grey;
}
h3 {
  color: grey;
}
p {
  color: whitesmoke;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.col-lg-7 {
  width: 100%;
}
.bigbutton {
  transition: all .15s ease;
  cursor: pointer;
  width: 98%;
  display: inline-block;
  overflow: hidden;
  padding: 18px 0 15px 0;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 6px;
  font-size: 28px;
  color: #FAFAFA;
  font-weight: 700;
  text-decoration: none;
  /*background: rgb(255, 198, 0);*/
}
.jumbotron .btn {
  box-shadow: 1px 0px 3px 0px black !important;
}
.jumbotron .btn:active{
  box-shadow: none !important;
}
.bigbutton:hover {
  transition: all .15s ease;
  background-color: rgb(326, 301, 71);
}

@media screen and (min-width: 768px){
  .container {
    max-width: 1230px; 
  }
}