$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '/bower_components/sass-bootstrap/dist/css/';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("images/glasses_computer.jpg");
    background-size: cover;
    background-attachment: fixed;
}
a {
    color: whitesmoke;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    color: #428bca;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    /*background-image:url("images/cliff.jpg") !important;*/
    background-repeat: no-repeat;
    background-size: 102%;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body {
  background-color: currentcolor;
  transition: all .15s ease;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  padding-top: 12px;
}
.container {
  min-height: 800px;
}
.header {
  /*border-bottom: none;*/
}
.footer {
  border-top: none;
}
.blogTitle{
  color: #EAEAEA;
  font-size: 21px;
}
.accordion {
  margin: 50px;
}   
dt, dd {
  padding: 10px;
  border-bottom: 0;  
}
a {
  font-weight: bold;
}  
dd {
  border-top: 0; 
  color: whitesmoke;
  font-size: 15px;
  padding: 12px;
  letter-spacing: 1px;
  border-top: 1px solid white;
  position: relative;
  top: -1px;
  display: none;
}
h4 {
  color: grey;
}
h3 {
  color: whitesmoke;
}
p {
  color: whitesmoke;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.col-lg-7 {
  width: 100%;
}
.bigbutton {
  transition: all .15s ease;
  cursor: pointer;
  width: 98%;
  display: inline-block;
  overflow: hidden;
  padding: 18px 0 15px 0;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 6px;
  font-size: 28px;
  color: #FAFAFA;
  font-weight: 700;
  text-decoration: none;
  /*background: rgb(255, 198, 0);*/
}
.jumbotron{
  min-height: 612px;
  background-color: none !important;
}
.jumbotron h1 {
  color: whitesmoke;
  font-size: 5em;
}
.jumbotron .btn {
  box-shadow: 1px 0px 3px 0px black !important;
}
.jumbotron .btn:active{
  box-shadow: none !important;
}
.bigbutton:hover {
  transition: all .15s ease;
  background-color: rgb(326, 301, 71);
}

@media screen and (min-width: 768px){
  .container {
    max-width: 1230px;
    min-height: 800px; 
  }
}